body {
    background-color: #393e46;
}

h1,p {
    color: #4ecca3;
    font-family: 'Lobster', cursive;
}
h1 {
    font-size: 8rem;;
    margin: 25px;
}
p {
    font-size: 3rem;
    margin-bottom: 0;

}
.container {
    height: 100vb;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.dices-container {
    display: flex;
    flex-direction: row;
    text-align: center;
}
img {
    margin: 30px;
    width: 200px;
}
.foot {
    color: white;
}