<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weekday advices</title>
</head>
<body>
    <h1>today is a 
        <% if (day == 5) { %> 
            weekend, go get some fun 
        <%} else {%>
            Weekday, go to work  
        <%}%>
    </h1>
</body>
</html>